.form-main-container{
    height: 78vh;
    background-image: url("../imgs/form.jpg");
    background-position: center;
}

.form-wrapper{
  max-width: 400px;
  margin: auto;
  padding-top: 20px;
}
.form-group label{
    font-size: 8px !important;
}

.form-group input{
    font-size: 10px !important;
}
.form-group input::placeholder{
    font-size: 8px !important;
     
}
.form{
    display: flex;
    justify-content: space-evenly;
}
.submit-btn-cont{
}
.submit-btn-cont button{
    width: 100% !important;
    margin-top: 8px;
}