
/* fonts */

@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oxygen';
  src: url(./fonts/Oxygen-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Oxygen Light';
  src: url(./fonts/Oxygen-Light.ttf) format('truetype');
}


@font-face {
  font-family: 'Oxygen Bold';
  src: url(./fonts/Oxygen-Bold.ttf) format('truetype');
}
